---
layout: base
permalink: /level-1/index.html
title: Level 1
eleventyNavigation:
  key: level-1
  parent:
  title: Level 1
---
<h1>{{ title }}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga magni, esse quibusdam consequatur velit cumque veniam corporis excepturi animi repellendus in provident blanditiis adipisci harum! Beatae aliquam totam ad recusandae?</p>