---
layout: base
permalink: /index.html
title: Home
---
<h1>{{ title }}</h1>
<p><strong>Objectives:</strong></p>
<ol>
  <li>I would like to learn how to suppress navigation items using a key:value like <code>"suppressNav": "true"</code> for certain pages to be excluded from the nav tree. In this example I don't want "Article x Title" showing under the "Help" topic. I currently have this key:value set in a directory data file in help/articles/ but I need help in the best way to add this into the nav macro found in the base layout.</li>
  <li>With that completed I then would like to figure out how to render the topics loop in the eleventyNavigation output so it shows Advanced Articles, Basic Articles and Intermediate Articles in the nav tree under Help. For some reason I cannot set a key in that directory data file found under topics. It breaks the running eleventyProcess.</li>
</ol>